<!DOCTYPE html>
<html>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Projet B{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/normalize.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/styles.css') }}" />

            <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        {% endblock %}
    {% endblock %}
    <body>
        <div class="wrapper">
            {% include '::nav_dev.html.twig'%}
            <div class="main">
                <div class="dev" style="padding:10px;">
                    <ul>
                        <li>Route :  <span style="color:#E87274">{{ app.request.attributes.get('_route') }}</span></li>
                        <li>Controller : <span style="color:#E87274">{{ app.request.attributes.get('_controller') }}</span></li>
                        <li>Template :  <span style="color:#E87274">{{ app.request.attributes.get('_template') }}</span></li>
                    </ul>
                </div>
                <div class="sidebar">
                    <ul class="list-inline">
                        <li>Profile | </li>
                        <li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'Bonjour %username%'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">
                                    {{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">{{ 'Déconnection'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                            </li>
                    </ul>
                    </div>
                   
                    {% block body %}
                    {% endblock %}

		  	</div>
		</div>
        {% block javascripts %}
		  <script src="{{ asset('bundles/appbundle/js/jquery-2.1.0.min.js') }}" type="text/javascript" ></script>
		  <script src="{{ asset('bundles/appbundle/js/ajax.js') }}" type="text/javascript" /></script>

          <script type="text/javascript">
            // Script for opening and close of menu
            $('#extand').click(function () {
                if($('nav').hasClass('open')) {
                    $('nav').removeClass('open');
                    $('nav').addClass('close');
                } else {
                    $('nav').removeClass('close');
                    $('nav').addClass('open');
                }
            })
          </script>
        {% endblock %}
	</body>
</html>

