
{# Récuparation de la route pour l'attribution de la classe active #}
{% macro is_current_route(route) %}
    {%- if app.request.attributes.get('_route') == route -%}
        {{- 'class="active"' -}}
    {%- endif -%}
{% endmacro %}

{% import _self as croute %}


{# Tableau du menu : route => label #}
{%
set nav_speaker = {
    'agenda_index': 'Agenda',
	'missing' : 'Présences',
	'evaluation': 'Évaluations',
	}
%}
{%
set	nav_student = {
	'agenda_index' : 'Agenda',
    'evaluation': 'Évaluations',
	'module': 'Modules',
	'feedback': 'Feedbacks'
	}
%}
{%
set	nav_manager = {
	'agenda_index' : 'Agenda',
	'missing' : 'Présences',
	'evaluation' : 'Évaluations',
	'module' : 'Modules',
    'promotion' : 'Promotions',
    'user' : 'Utilisateurs',
    'corporation' : 'Entreprises',
	'feedback': 'Feedbacks',
	'archive': 'Archives'
	}
%}
{%
set	nav_manager_without_promotion = {
    'promotion' : 'Promotions',
    'corporation' : 'Entreprises',
    'archive': 'Archives'
}
%}
<nav class="close">
	<ul>
		<li class="extand-item"><a id="extand" href="#"><i class="flaticon-reorder flaticon-right responsive-icone"></i></a></li>
		<li><a href="{{ path('project_app_index') }}"><i class="flaticon-house3 flaticon-left"></i> Home</a></li>

		{% if is_granted('ROLE_MANAGER') %}
            {% if app.session.get('promotion') %}
                {% set nav = nav_manager %}
            {% else %}
                {% set nav = nav_manager_without_promotion %}
            {% endif %}
		{% elseif is_granted('ROLE_STUDENT') %}
		   {% set nav = nav_student %}
		{% else %}
			{% set nav = nav_speaker %}
		{% endif %}

		{% for key,value in nav %}
			{% if value == 'Archives' or value == 'Promotions' or value == 'Utilisateurs'%}
				<li class="optional"><a {{ croute.is_current_route(key) }} href="{{ path(key) }}">{{value}}</a></li>
			{% else %}
				<li><a {{ croute.is_current_route(key) }} href="{{ path(key) }}">{{value}}</a></li>
			{% endif %}
		{% endfor %}

	</ul>
</nav>


