{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}
    <div class="bloc-top">
        <a class="btn btn-default" href="{{ path('corporation') }}">Retour</a>
    </div>

    <div class="panel-group">
        <div class="panel-item">
            <div class="panel-content">
                <div class="panel-header">
                    <h2 class="pull-left">Entreprise</h2>
                </div>
                <div class="panel-content">
                    Nom : {{ entity.name }} <br/><br/>
                    Téléphone : {{ entity.phone }} <br/><br/>
                    E-mail : {{ entity.email }} <br/><br/>

                    <div>
                        {% if is_granted('ROLE_MANAGER') %}
                            <a class="btn btn-second" href="{{ path('corporation_edit', { 'id': entity.id }) }}">Modifier</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <br/><br/>
                            {{ form(delete_form) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
