{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}
	{% if not is_granted('ROLE_STUDENT') %}
		<div class="bloc-top">
			<a class="btn btn-second" href="{{ path('module_new') }}">Ajouter un module</a>
		</div>
	{% endif %}

    <div class="panel-group">
        {% if modulesList|length > 0 %}
            {% for module in modulesList %}
                <div class="panel-item">
                    <div class="panel-header">
                        {{ module.name }}

			<span class="pull-right">
                <a href="{{ path('manager_export_absence', { 'id_module': module.id }) }}">Exporter les absences</a>
				<a href="{{ path('manager_export_score', { 'id_module': module.id }) }}">Exporter les notes</a>

                {% if not is_granted('ROLE_STUDENT') %}
                    <form action="{{ path('module_delete', { 'id': module.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(deleteForms[module.id]) }}
                    </form>
                {% endif %}
			</span>

                    </div>
                    <div class="panel-content">
		      {% if module.lessons|length <= 0 %}
		      Aucun cours n'est actuellement prévue pour ce module.
		      {% else %}
                  {% if is_granted('ROLE_STUDENT') %}
                      Moyenne : {{ student_average | number_format(2)}} / 20 <br/><br/>
                  {% endif %}
                  Moyenne de classe : {{ class_average | number_format(2)}} / 20 <br/><br/>
		      Cours prévues :<br /><br />
		      <table>
			<thead>
			    <tr>
			      <th>Date</th>
			      <th>Intervenant</th>
			    </tr>
			</thead>
			<tbody>
			  {% for lesson in module.lessons %}
			  <tr>
			    <td>Du {{ lesson.startDate|date('d/m/Y à H:i') }} au {{ lesson.endDate|date('d/m/Y à H:i') }}</td>
			    <td>{{ lesson.speaker.user.username }} {{ lesson.speaker.user.surname }}</td>
			  </tr>
			  {% endfor %}
			</tbody>
			<tfoot>
			</tfoot>
		      </table>
		      {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
