{% extends "ProjectAppBundle::layout.html.twig" %}

{% block main %}
	{% if studentsList is defined %}
		<p>Cochez les absents :</p>
		<form method="POST">
			{% for student in studentsList %}

				<li>
					Student : {{ student.username }} - {{ student.surname }} - {{ student.email }}
					<input type="checkbox" name="missings[]" value="{{ student.id }}"/>
				</li>
			{% endfor %}
			<button type="submit">Valider l'appel</button>
		</form>
	{% else %}
		<p>{{ msg }}</p>
	{% endif %}
{% endblock %}