{% extends "ProjectAppBundle::layout.html.twig" %}
{% block content %}
    
    <div class="bloc-top">
        {% if users %}
            <div class="pull-right">
                <a class="btn btn-default btn-small" href="{{ path('user_list', {'type' : 'student'}) }}">
                    Voir les étudiants
                </a>
                <a class="btn btn-default btn-small" href="{{ path('user_list', {'type' : 'speaker'}) }}">
                    Voir les intervenants
                </a>
                <a class="btn btn-default btn-small" href="{{ path('user_list', {'type' : 'manager'}) }}">
                    Voir les résponsables
                </a>
                <a class="btn btn-default btn-small" href="{{ path('user') }}">
                    Voir tout
                </a>
            </div>
        {% endif %}
        <a class="btn btn-second" href="{{ path('user_student_new') }}">
            Créer étudiant
        </a>
        <a class="btn btn-second" href="{{ path('user_speaker_new') }}">
            Créer intervenant
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-second" href="{{ path('user_manager_new') }}">
                Créer résponsable
            </a>
        {% endif %}
    </div>
    
    {% if users %}
        <div class="panel-group">
            <div class="panel-item">
                <div class="panel-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Mail</th>
                                <th>Telephone</th>
                                {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
                                    <th></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>

                                <td>{{user.username}}</td>
                                <td>{{user.surname}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>

                                {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
                                    <td class="pull-right">
                                        <a class="btn btn-default btn-small" href="{{ path('user_show', { 'id': user.id }) }}">
                                            Détails
                                        </a>
                                        {% if is_granted('ROLE_ADMIN') and 'ROLE_MANAGER' in user.roles %}
                                            <a class="btn btn-default btn-small" href="{{ path('user_edit', { 'id': user.id }) }}">
                                                Modifier
                                            </a>
                                        {% elseif 'ROLE_MANAGER' not in user.roles %}
                                            <a class="btn btn-default btn-small" href="{{ path('user_edit', { 'id': user.id }) }}">
                                                Modifier
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
    

