{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}
    
    <div class="panel-group">
        <div class="panel-item">
            <div class="panel-header">
                <h1>{{title}}</h1>
            </div>
            <div class="panel-content">

                 <div class="panel-form">

                    {{ form_start(form) }}
                        {# Errors #}
                        <div class="form-item">
                            {{ form_errors(form)}}
                        </div>
                        <div class="form-item">
                            {{ form_row(form.user.username) }}
                        </div>
                        <div class="form-item">
                            {{ form_row(form.user.surname) }}
                        </div>
                        <div class="form-item">
                            {{ form_row(form.user.phone) }}
                        </div>
                        <div class="form-item">
                            {{ form_row(form.user.email) }}
                        </div>
                        <div class="form-item">
                            {{ form_row(form.user.plainPassword) }}
                        </div>

                        {% block form %}
                            
                        {% endblock %}

                         {# Buttons #}
                         <div class="form-item last">
                            {{ form_row(form.submit) }}
                        </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
    <a href="{{ path('user') }}" class="btn btn-default">Annuler</a>

{% endblock %}