{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}

    <div class="panel-group">
        <div class="panel-item">
            <div class="panel-header">
                <h1>Ajouter un critère au barème</h1>
            </div>
            <div class="panel-content">
                {{ form(form) }}
            </div>
        </div>
    </div>

    {% if old_criterions is not empty %}
        <h2>Critères précédents</h2>
        <ul>
            {% for criterion in old_criterions %}
                <li>{{ criterion.description }} sur {{ criterion.max }} point{% if criterion.max > 1 %}s{% endif %}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ form_start(form) }}
        {# Errors #}
        {{ form_errors(form)}}
        {# Inputs #}
        {{ form_row(form.description) }}
        {{ form_row(form.max) }}
        {# Buttons #}
        {{ form_row(form.crit_new) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <a href="{{ path('evaluation') }}" class="btn btn-default">Annuler (retour à la liste des évaluations)</a>

{% endblock %}
