{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}
    <div class="bloc-top">
        <a class="btn btn-second" href="{{ path('promotion_new') }}">Ajouter une promotion</a>
    </div>

    <div class="panel-group">
        <div class="panel-item">
            <div class="panel-content">
                <div class="panel-header">
                    <h3 class="pull-left">{{ entity.startDate|date('Y') }} - {{ entity.endDate|date('Y') }}</h3>
                </div>
                <div class="panel-content">
                    Formation : {{ entity.formation.name }}
                    <div class="pull-right">
                        <a class="btn btn-second" href="{{ path('promotion_edit', { 'id': entity.id }) }}">Modifier</a>
                        {{ form(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
