{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}
{{ form_start(form) }}
{{ form_errors(form) }}
<div class="bloc-top">
  <a class="btn btn-second" href="{{ path('evaluation') }}">Retour à la liste</a>
  {{ form_widget(form.save) }}
</div>

<div class="panel-group">
    <table>
      <thead>
	<tr>
	  <th>Etudiant</th>
	  {% for criterion in criterions %}
	  <th>{{ criterion.description }}</th>
	  {% endfor %}
	  <th>Note global</th>
	  <th>Commentaire</th>
	</tr>
      </thead>
      <tbody>
	{% for note in notes %}
	<tr>
	  <td>{{ note.infos.student.user.username }}</td>
	  {% if note.details is defined %}
	  {% for criterion in note.details %}
	  <td>{{ criterion.score }}</td>
	  {% endfor %}
	  {% endif %}
	  <td><input type="text" name="project_app_evaluation_validate[studentEvaluations][{{ loop.index0 }}][score]" value="{{ note.infos.score }}"></td>
	  <td>{{ note.infos.comment }}</td>
	</tr>
	{% endfor %}
      </tbody>
      <tfoot>
	<tr>
	  <th>Etudiant</th>
	  {% for criterion in criterions %}
	  <th>{{ criterion.description }}</th>
	  {% endfor %}
	  <th>Note global</th>
	  <th>Commentaire</th>
	</tr>
      </tfoot>
    </table>
</div>
<br />
<div class="bloc-bottom">
  {{ form_widget(form.save) }}
</div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
{% endblock %}
