{% extends "ProjectAppBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" /> -->
    <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/calendar_override.css')}}" />
    <link rel="stylesheet" href="{{ asset('bundles/appbundle/css/jquery-ui_override.css')}}" />
{% endblock %}

{% block content %}
    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div id="dialog-create-events" title="Créer une nouvelle entrée">
            <label>Nom :</label>
            <input type="text" name="lesson_name" id="lesson_name"/>
            <label>Heure de début:</label>
            <input type="time" name="start_time" id="start_time" value="09:00"/>
            <label>Heure de fin:</label>
            <input type="time" name="end_time" id="end_time" value="16:30"/>
        </div>
        <div id="dialog-drop-events" title="Supprimer un cours">
            <p>Voulez-vous vraiment supprimer cette entrée ?</p>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <!--<script type="text/javascript" src=" asset('bundles/adesignscalendar/js/calendar-settings.js') "></script>-->
    <script type="text/javascript" src="{{ asset('bundles/appbundle/js/calendar-settings.js') }}"></script>
{% endblock %}